.pastWorkout {
  margin: 2px 5px;
  line-height: 1.5rem;
  padding-bottom: 1px;
}

.pastWorkout__brief {
  margin: 0;
  display: flex;
  border-bottom: #dcd7c9 solid 1px;
  padding: 0;
}

.pastWorkout__detailed {
  margin: 0 5px;
  margin-bottom: 2px;
  padding: 2px 0;
}

.pastWorkout__brief:hover {
  cursor: pointer;
}
.pastWorkout__caret {
  align-self: center;
  margin-right: auto;
  padding-left: 2px;
}

.pastWorkout__infoSpan {
  margin-right: auto;
}

.pastWorkout__exerciseExpanded {
  margin: 5px 5px;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.pastWorkout__exerciseHeader {
  text-transform: capitalize;
  text-decoration: solid underline;
  margin: 0;
  grid-column-end: span 2;
}

.pastWorkout__backIcon {
  float: left;
  padding: 2px 2px;
}

.pastWorkout__viewExerciseIcon {
  float: right;
  margin-right: 5px;
}

.pastWorkout__setInfo {
  margin: 1px 2px;
}

.pastWorkout__exerciseBrief {
  margin: 2px 5px;
  text-transform: capitalize;
}
