.addExercise {
  margin: 0 5px;
}

.addExercise button {
  margin: 2px;
}

.addExercise__divider {
  display: grid;
  grid-template-columns: 50% 50%;
}

.addExercise__divider > * {
  padding: 0 2px;
}
