.setsDisplay__header {
  text-decoration: underline;
  margin: 0 auto;
}
.exerciseDisplay .setsDisplay__header {
  text-decoration: none;
  font-style: italic;
  font-weight: normal;
}

.exerciseDisplay .setsDisplay {
  margin: 1px;
}
